@model FeedbackRequestModel;

<div class="container">
    <form asp-controller="Feedback" asp-action="Create" method="post">
        <div class="my-5 row col-12">
            <label for="interviewId">Interview Id</label>
            <select asp-for="InterviewId" class="form-control" asp-items="ViewBag.InterviewList"></select>
            <span asp-validation-for="InterviewId"></span>
        </div>
        <div class="my-5 row col-12">
            <label for="description">Description</label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description"></span>
        </div>
        <div class="my-5 row col-12">
            <label for="abbr">ABBR</label>
            <input asp-for="ABBR" class="form-control" />
            <span asp-validation-for="ABBR"></span>
        </div>
        <input type="submit" value="Add Feedback" class="btn btn-primary" />
    </form>
    
</div>