@model InterviewRequestModel;

<div class="container">
    <form asp-controller="Interview" asp-action="Create" method="post">
        <div class="my-5 row col-12">
            <label for="submissionId">Submission Id</label>
            <input asp-for="SubmissionId" class="form-control" />
            <span asp-validation-for="SubmissionId"></span>
        </div>
        <div class="my-5 row col-12">
            <label for="interviewRound">Interview Round</label>
            <input asp-for="InterviewRound" class="form-control" />
            <span asp-validation-for="InterviewRound"></span>
        </div>
        <div class="my-5 row col-12">
            <label for="interviewTypeId">Interview Type Id</label>
            <input asp-for="InterviewTypeId" class="form-control" />
            <span asp-validation-for="InterviewTypeId"></span>
        </div>
        <div class="my-5 row col-12">
            <label for="interviewStatusId">Interview Status Id</label>
            <input asp-for="InterviewStatusId" class="form-control" />
            <span asp-validation-for="InterviewStatusId"></span>
        </div>
        <div class="my-5 row col-12">
            <label for="interviewerId">Interviewer Id</label>
            <input asp-for="InterviewerId" class="form-control" />
            <span asp-validation-for="InterviewerId"></span>
        </div>
        <input type="submit" value="Add Interview" class="btn btn-primary" />
    </form>
    
</div>