@model JobRequirementResponseModel;

<div class="container">
    <form asp-controller="JobRequirement" asp-action="Edit" method="post">
        <input type="hidden" asp-for="Id" />
        <div class="my-5 row col-12">
            <label for="title">Title</label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title"></span>
        </div>
        <div class="my-5 row col-12">
            <label for="description">Description</label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description"></span>
        </div>
        <div class="my-5 row col-12">
            <label for="totalPositions">Total Positions</label>
            <input asp-for="TotalPositions" class="form-control" />
            <span asp-validation-for="TotalPositions"></span>
        </div>
        <div class="my-5 row col-12">
            <label for="postingDate">Posting Date</label>
            <input asp-for="PostingDate" class="form-control" type="date" />
            <span asp-validation-for="PostingDate"></span>
        </div>
        <div class="my-5 row col-12">
            <label for="closingDate">Closing Date</label>
            <input asp-for="ClosingDate" class="form-control" type="date" />
            <span asp-validation-for="ClosingDate"></span>
        </div>
        <div class="my-5 row col-12">
            <label for="jobCategoryId">Job Category Id</label>
            <select asp-for="JobCategoryId" class="form-control" asp-items="@ViewBag.JobCategoryList"></select>
            <span asp-validation-for="JobCategoryId"></span>
        </div>
        <div class="my-5">
            <label for="isActive">Is Active</label>
            <p>
                <input type="radio" id="true" value="True" asp-for="IsActive" />
                <label for="true">True</label>
            </p>
            <p>
                <input type="radio" id="false" value="False" asp-for="IsActive" />
                <label for="true">False</label>
            </p>
            <span asp-validation-for="IsActive"></span>
        </div>
        <input type="submit" value="Edit Job Requirement" class="btn btn-primary" />
    </form>
</div>